@use './variables' as *;

/*--------------------------------------------------------------
## blocks.scss
--------------------------------------------------------------*/
hr.wp-block-separator {
    background-color: $gray; // Fixes the separator block being hidden
}

.wp-block-button__link {
    color: $khpi-black-50 !important;
}

.wp-block-button__link:hover {
    color: $khpi-black-900 !important;
    text-decoration: none !important;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
    color: $khpi-black-900;
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0 12px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $khpi-black-900;
    font-weight: 500;
}

p {
    color: $khpi-black-900;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button:hover,
a.button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
    color: $khpi-black-900;
}

button:focus,
input[type='button']:focus,
input[type='reset']:focus,
input[type='submit']:focus,
button:active,
input[type='button']:active,
input[type='reset']:active,
input[type='submit']:active {
    color: $khpi-black-900;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
#main-nav {
    margin-top: 30px;
}

.main-navigation ul ul {
    background-color: $blue; // Main & top menus dropdown bg
    min-width: 300px;
}

.main-navigation ul li.menu-item-has-children > a::after,
.main-navigation ul li.page_item_has_children > a::after {
    top: 16px;
}

.menu-toggle:focus {
    color: $khpi-black-50;

    &:hover {
        color: $khpi-black-900;
    }
}

@media only screen and (min-width: 1000px) {
    #primary-menu > li > a {
        border-bottom: none;
    }
}

/** pagination **/
.post-navigation .nav-links a,
.post-navigation .nav-links a:hover {
    color: $khpi-red-900;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
#primary article.hentry {
    box-shadow: none; // Removes border on main page content
    padding: 0;
}

.page-header {
    box-shadow: none;
    padding: 5px 30px 5px 0px;
}

.entry-footer > span a {
    color: $khpi-red-900;
}

// Replace color of calendar shades
.custom-entry-date span.entry-day {
    text-shadow:
        $khpi-red-600 1px 1px,
        $khpi-red-600 2px 2px,
        $khpi-red-600 3px 3px,
        $khpi-red-600 4px 4px,
        $khpi-red-600 5px 5px,
        $khpi-red-600 6px 6px,
        $khpi-red-600 7px 7px,
        $khpi-red-600 8px 8px,
        $khpi-red-600 9px 9px,
        $khpi-red-600 10px 10px,
        $khpi-red-600 11px 11px,
        $khpi-red-600 12px 12px,
        $khpi-red-600 13px 13px,
        $khpi-red-600 14px 14px,
        $khpi-red-600 15px 15px,
        $khpi-red-600 16px 16px,
        $khpi-red-600 17px 17px,
        $khpi-red-600 18px 18px,
        $khpi-red-600 19px 19px,
        $khpi-red-600 20px 20px,
        $khpi-red-600 21px 21px,
        $khpi-red-600 22px 22px,
        $khpi-red-600 23px 23px,
        $khpi-red-600 24px 24px,
        $khpi-red-600 25px 25px,
        $khpi-red-600 26px 26px,
        $khpi-red-600 27px 27px,
        $khpi-red-600 28px 28px,
        $khpi-red-600 29px 29px,
        $khpi-red-600 30px 30px,
        $khpi-red-600 31px 31px,
        $khpi-red-600 32px 32px,
        $khpi-red-600 33px 33px,
        $khpi-red-600 34px 34px,
        $khpi-red-600 35px 35px,
        $khpi-red-600 36px 36px,
        $khpi-red-600 37px 37px,
        $khpi-red-600 38px 38px,
        $khpi-red-600 39px 39px,
        $khpi-red-600 40px 40px,
        $khpi-red-600 41px 41px,
        $khpi-red-600 42px 42px,
        $khpi-red-600 43px 43px,
        $khpi-red-600 44px 44px,
        $khpi-red-600 45px 45px,
        $khpi-red-600 46px 46px,
        $khpi-red-600 47px 47px,
        $khpi-red-600 48px 48px,
        $khpi-red-600 49px 49px,
        $khpi-red-600 50px 50px,
        $khpi-red-600 51px 51px,
        $khpi-red-600 52px 52px,
        $khpi-red-600 53px 53px,
        $khpi-red-600 54px 54px,
        $khpi-red-600 55px 55px,
        $khpi-red-600 56px 56px,
        $khpi-red-600 57px 57px,
        $khpi-red-600 58px 58px;
}

/*--------------------------------------------------------------
# Custom By WEN Themes
--------------------------------------------------------------*/
/*buttons*/
a.button:hover {
    color: $khpi-red-900; // Text color in call-to-action btn on hover
}

/*--------------------------------------------------------------
##  Header Style By WEN Themes
--------------------------------------------------------------*/
a.custom-logo-link {
    margin-top: 0px; // Fixes logo alignment
}

.site-description {
    letter-spacing: 0px; // Turns off wide letter spacing in the site title subheading
}

#header-social .university_hub_widget_social ul li a:hover {
    background: none !important;
}

.top-news-title {
    color: $black; // Replacing colors to improve contrast
}

.site-branding img {
    margin-top: 0px; // Fixes logo alignment
    // Logo size limitation
    max-height: 64px;
    width: auto;
}

#top-nav ul ul {
    background-color: $blue;
    min-width: 320px;
}

.search-form .search-submit:hover,
.search-form .search-submit:focus {
    color: $khpi-red-900;
    background: none;
}

/*Top Header*/
#tophead {
    font-size: 14px;
}

/*--------------------------------------------------------------
## Social Links Style By WEN Themes
--------------------------------------------------------------*/
.university_hub_widget_social ul li a::before {
    text-shadow: none;
}

/*x.com*/
.university_hub_widget_social ul li a[href*='x.com']::before {
    content: '\e61b';
}

.university_hub_widget_social ul li a[href*='x.com'] {
    background-color: #000000;
}

/*telegram*/
.university_hub_widget_social ul li a[href*='t.me']::before {
    content: '\f2c6';
}

.university_hub_widget_social ul li a[href*='t.me'] {
    background-color: #24a1de;
}

/*tiktok*/
.university_hub_widget_social ul li a[href*='tiktok.com']::before {
    content: '\e07b';
}

.university_hub_widget_social ul li a[href*='tiktok.com'] {
    background-color: #010101;
}

/*remove all bg-colors*/
.university_hub_widget_social ul li a {
    background-color: $khpi-red-900 !important;
}

.university_hub_widget_social ul li a:hover {
    background-color: $khpi-yellow-500 !important;
}

#colophon .university_hub_widget_social ul li a:hover::before,
#sidebar-primary .university_hub_widget_social ul li a:hover::before,
#sidebar-secondary .university_hub_widget_social ul li a:hover::before,
#footer-widgets .university_hub_widget_social ul li a:hover::before {
    transition: all 0.5s ease-out 0s;
    color: $khpi-black-900 !important;
}

/*--------------------------------------------------------------
## Main slider Style By WEN Themes
--------------------------------------------------------------*/
#main-slider img {
    aspect-ratio: 8 / 3;
    object-fit: cover;
}

#main-slider h3 {
    background: rgba(160, 0, 27, 1) none repeat scroll 0 0; // Same as $khpi-red-900 but rgba
}

.slider-buttons .button-primary {
    color: $khpi-black-900; // Replacing colors to improve contrast
}

.slider-buttons a:hover {
    opacity: 1;
    background: $khpi-red-900;
    color: $khpi-black-50; // Replacing colors to improve contrast
}

/*Slider cycle next / previous*/
#main-slider .cycle-prev,
#main-slider .cycle-next {
    color: $black; // Replacing colors to improve contrast
    i {
        line-height: 1.2;
        font-size: 22px;
    }
}

/*--------------------------------------------------------------
## Sidebar Style By WEN Themes
--------------------------------------------------------------*/
@media only screen and (min-width: 1024px) {
    #sidebar-primary {
        padding-left: 30px;
    }

    #sidebar-secondary {
        padding-right: 30px;
    }
}

.sidebar .widget {
    box-shadow: none; // Removes border of sidebar widgets
    padding: 0;
}

.sidebar .widget a,
.sidebar .widget a:visited {
    color: $khpi-red-900;
}

.sidebar .widget a:hover,
.sidebar .widget a:active {
    color: $khpi-red-400;
}

.sidebar .widget .wp-block-tag-cloud a {
    color: $khpi-red-900;
}

.sidebar .widget .wp-block-tag-cloud a:hover {
    color: $khpi-red-900;
}

/*--------------------------------------------------------------
## Footer Style By WEN Themes
--------------------------------------------------------------*/
#colophon {
    background-color: #1d1d1d; // khpi-black-1000;

    & a:hover {
        color: $khpi-black-50;
    }
}

#footer-widgets .widget-title {
    font-weight: 500;
}

/*Scrollup Style*/
.scrollup {
    padding: 4px 10px;
}

.scrollup:hover {
    background-color: $orange;
}

.scrollup i {
    transition: all 0.5s ease-in-out 0s;
}

.scrollup:hover i {
    transition: all 0.5s ease-in-out 0s;
    color: $khpi-black-900;
}

/*--------------------------------------------------------------
## Inner Pages Style By WEN Themes
--------------------------------------------------------------*/
/*Basic Breadcrumb */
#breadcrumb {
    color: $khpi-yellow-200;
    padding: 10px 0;
}

#breadcrumb a:hover {
    color: $khpi-yellow-200;
}

#breadcrumb .breadcrumb-trail li:hover::after {
    color: rgba(255, 255, 255, 0.76);
}

/*--------------------------------------------------------------
## Home Section
--------------------------------------------------------------*/
#front-page-home-sections .section-title,
#university-hub-front-page-widgets .widget-title {
    color: $navy-blue;
    // Removes icon-like border on Latest News heading
    border-left: none;
    padding-left: 0;
}

/*--------------------------------------------------------------
### Latest News post section style By WEN Themes
--------------------------------------------------------------*/
// .home-section-latest-news .latest-news-item img {
//     width: 100%;
//     aspect-ratio: 4 / 3;
//     object-fit: cover;
// }

.home-section-latest-news .read-more-button::after {
    background: rgba(160, 0, 27, 1) none repeat scroll 0 0; // Same as $khpi-red-900 but rgba
}

.read-more-button {
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-section-latest-news .latest-news-inner-wrapper {
    box-shadow: none; // Removes borders on home page latest-news
}

.home-section-latest-news .latest-news-text-wrap {
    padding: 15px 0px; // Removes side paddings on home page latest-news
}

.home-section-latest-news .latest-news-meta > span {
    color: $khpi-black-900;
}

.home-section-latest-news .latest-news-meta > span a {
    color: $khpi-red-900;
}

.home-section-latest-news .latest-news-meta > span a:hover {
    text-decoration: underline;
}

/*--------------------------------------------------------------
## call to action style By WEN Themes
--------------------------------------------------------------*/
#front-page-home-sections .home-section-call-to-action .section-title {
    font-weight: 500;
}

/*--------------------------------------------------------------
### Our Team section style By WEN Themes
--------------------------------------------------------------*/
.home-section-team .team-title a {
    color: $navy-blue;
}

/*--------------------------------------------------------------
### Featured News Events section style By WEN Themes
--------------------------------------------------------------*/
// Removes icons of heading recent news and events
.home-section-news-and-events h2::before {
    margin-right: 0;
}

.home-section-news-and-events .recent-news h2::before {
    content: '';
}

.home-section-news-and-events .recent-events h2::before {
    content: '';
}

// .home-section-news-and-events .news-post img {
//     width: 100%;
//     aspect-ratio: 3 / 2;
//     object-fit: cover;
// }

.home-section-news-and-events .news-content {
    padding: 7px 0px 14px; // Removes side paddings on home page news
}

.home-section-news-and-events .block-meta {
    font-size: 13px;
}

.home-section-news-and-events .block-meta span > a {
    color: $khpi-red-900;
}

.home-section-news-and-events .block-meta span a:hover {
    text-decoration: underline;
}

// Replace color of calendar shades
.home-section-news-and-events .custom-entry-date span.entry-day {
    text-shadow:
        $khpi-red-600 1px 1px,
        $khpi-red-600 2px 2px,
        $khpi-red-600 3px 3px,
        $khpi-red-600 4px 4px,
        $khpi-red-600 5px 5px,
        $khpi-red-600 6px 6px,
        $khpi-red-600 7px 7px,
        $khpi-red-600 8px 8px,
        $khpi-red-600 9px 9px,
        $khpi-red-600 10px 10px,
        $khpi-red-600 11px 11px,
        $khpi-red-600 12px 12px,
        $khpi-red-600 13px 13px,
        $khpi-red-600 14px 14px,
        $khpi-red-600 15px 15px,
        $khpi-red-600 16px 16px,
        $khpi-red-600 17px 17px,
        $khpi-red-600 18px 18px,
        $khpi-red-600 19px 19px,
        $khpi-red-600 20px 20px,
        $khpi-red-600 21px 21px,
        $khpi-red-600 22px 22px,
        $khpi-red-600 23px 23px,
        $khpi-red-600 24px 24px,
        $khpi-red-600 25px 25px,
        $khpi-red-600 26px 26px,
        $khpi-red-600 27px 27px,
        $khpi-red-600 28px 28px,
        $khpi-red-600 29px 29px,
        $khpi-red-600 30px 30px,
        $khpi-red-600 31px 31px,
        $khpi-red-600 32px 32px,
        $khpi-red-600 33px 33px,
        $khpi-red-600 34px 34px,
        $khpi-red-600 35px 35px,
        $khpi-red-600 36px 36px,
        $khpi-red-600 37px 37px,
        $khpi-red-600 38px 38px,
        $khpi-red-600 39px 39px,
        $khpi-red-600 40px 40px,
        $khpi-red-600 41px 41px,
        $khpi-red-600 42px 42px,
        $khpi-red-600 43px 43px,
        $khpi-red-600 44px 44px,
        $khpi-red-600 45px 45px,
        $khpi-red-600 46px 46px,
        $khpi-red-600 47px 47px,
        $khpi-red-600 48px 48px,
        $khpi-red-600 49px 49px,
        $khpi-red-600 50px 50px,
        $khpi-red-600 51px 51px,
        $khpi-red-600 52px 52px,
        $khpi-red-600 53px 53px,
        $khpi-red-600 54px 54px,
        $khpi-red-600 55px 55px,
        $khpi-red-600 56px 56px,
        $khpi-red-600 57px 57px,
        $khpi-red-600 58px 58px;
}

/*--------------------------------------------------------------
##  Media Queries By WEN Themes
--------------------------------------------------------------*/
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 1000px) {
    #top-nav .is-open .menu-inside-wrapper {
        z-index: 100000; // Fixed hidden dropdown of top header
    }
}

@media only screen and (max-width: 479px) {
    #main-slider .cycle-prev,
    #main-slider .cycle-next {
        i {
            font-size: 16px;
        }
    }

    #university-hub-services.home-section-services .services-item,
    .home-section-latest-news .latest-news-item,
    #latest-news.home-section-latest-news .latest-news-item,
    .home-section-featured-blocks .inner-wrapper article {
        max-width: unset;
    }
}

/*--------------------------------------------------------------
## New design
--------------------------------------------------------------*/
// Footer bg pattern
#footer-widgets {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 960px;
        height: 540px;
        background-image: url('./assets/images/pattern.svg');
        background-size: contain;
        background-position: bottom right;
        background-repeat: no-repeat;
        opacity: 0.2;
        z-index: 1;
        pointer-events: none;
    }

    & > * {
        position: relative;
        z-index: 2;
    }
}

// Colored links in content area
.content-area {
    a {
        color: $khpi-red-900;
        text-decoration: inherit;
    }

    a:visited {
        color: $khpi-red-900;
    }

    a:hover,
    a:focus,
    a:active {
        text-decoration: underline;
    }

    .navigation.posts-navigation .nav-links a,
    .navigation.pagination .nav-links a {
        &:visited {
            color: $khpi-black-50;
        }

        &:hover,
        &:focus {
            background-color: $khpi-yellow-500;
            color: $khpi-black-900;
            text-decoration: none;
        }
    }

    .page-links {
        span,
        a {
            font-weight: bold;
            padding: 0px 5px;
            background-color: $khpi-yellow-500;
        }
        a {
            color: $khpi-black-50;
            background-color: $khpi-red-900;
            &:hover,
            &:focus {
                background-color: $khpi-yellow-500;
                color: $khpi-black-900;
                text-decoration: none;
            }
        }
    }
}

// Styling default editor tables
.wp-block-table {
    & thead {
        background-color: $khpi-black-200;

        & tr:last-child {
            border-bottom: 3px solid;
        }
    }
    & tr:nth-child(even) {
        background-color: $khpi-black-200;
    }
}

// hide search field on menu items overflowing
#show-search {
    display: none;
}

// hide post author in metadata
.entry-footer > span {
    &.byline {
        display: none;
    }
}

// style for share btns
.content-area .university_hub_widget_social {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4px;
    padding: 20px 0 20px;

    ul {
        display: flex;
        gap: 4px;

        li {
            margin: 0;

            a {
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;

                &::before {
                    font-size: 14px;
                }

                &:hover {
                    text-decoration: none;

                    &::before {
                        transition: all 0.5s ease-out 0s;
                        color: $khpi-black-900;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .header-search-box .search-box-wrap {
        position: absolute;
        z-index: 100;
        opacity: 1;
        transition: all 0.5s ease;
    }

    #main-nav.menu-hidden {
        position: relative;
        padding-right: 40px;

        #show-search {
            display: block;
            background: transparent;
            color: $khpi-black-900;
            font: 14px/1.3 FontAwesome;
            height: 37px;
            padding: 3px 13px;
            bottom: 8px;
            right: 6px;
            position: absolute;
        }

        #show-search:hover {
            color: $khpi-red-900;
        }

        #show-search:active,
        #show-search:focus {
            box-shadow: none;
        }

        .search-form input.search-field {
            height: 15px;
            padding: 10px 0px;
        }

        .header-search-box .search-box-wrap {
            position: absolute;
            width: 0;
            opacity: 0;
            transition: all 0.5s ease;
        }
        .search-submit {
            display: none;
        }
    }
}

// extra links to news and events
#more-events,
#more-news {
    text-align: right;
    padding-top: 40px;
    font-weight: 600;

    a {
        color: $khpi-red-900;
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

#more-news {
    padding-top: 0;
}

// more news alignment fix
.inner-wrapper.latest-news-wrapper::after {
    content: '';
    clear: both;
    display: block;
}

// recent events alignment fix
.recent-events .event-post {
    display: grid;
    grid-template-columns: auto 1fr;

    h3 {
        padding-top: 0px;
    }
}

// recent posts (widget) alignment fix
.recent-posts-text-wrap {
    display: flex;
    flex-direction: column;
}

.custom-entry-date {
    grid-row: span 2;
}

.custom-entry-date img {
    margin: 0;
}

// last events alignment fix
.home-section-latest-news .latest-news-wrapper {
    display: flex;
    flex-wrap: wrap;
}

// site title alignment for 2 lines name
.site-title:has(br) {
    line-height: 1.2;
    text-align: center;
}

.gsc-control-cse {
    padding: 0 !important;
    font-family: $main-font !important ;
    background-color: transparent !important;
    border: none !important;

    .gsc-table-result {
        font-family: $main-font !important ;
    }
}

.gsc-control-wrapper-cse {
    th,
    td {
        border: none;
    }

    .gsc-search-box td,
    .gsc-search-box th {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

.gsc-table-result {
    font-size: 15px !important;
}

.gsc-webResult.gsc-result {
    border: none !important;
}

.gs-title,
.gs-title * {
    font-size: 25px !important;
    color: $khpi-red-900 !important;
    a,
    a:visited {
        color: $khpi-red-900 !important;
    }
}

.gs-spelling a,
.gs-spelling a:visited {
    color: $khpi-red-900 !important;
}

.gs-promotion .gs-visibleUrl,
.gs-webResult .gs-visibleUrl {
    color: $khpi-blue-600 !important;
}

.gcsc-more-maybe-branding-root {
    display: none !important;
}

.gsc-results .gsc-cursor-box {
    font-size: 15px;
    .gsc-cursor-current-page {
        color: $khpi-red-900 !important;
    }
}

.gsc-search-button-v2 {
    height: 41px !important;
    border: none !important;
    border-radius: 0 !important;
    background-color: $khpi-red-900 !important;

    &:hover,
    &:focus {
        svg {
            fill: $khpi-black-900;
        }
        background-color: $khpi-yellow-500 !important;
    }
}

.gsc-input {
    min-height: 40px !important;
    background: none !important;
    padding-left: 0 !important;
}

.gsc-above-wrapper-area {
    display: none;
}

.gsst_a .gscb_a {
    color: $khpi-red-200 !important;

    &:hover {
        color: $khpi-red-900 !important;
    }
}

.gsc-completion-container {
    & > tbody > tr:last-child {
        display: none;
    }
}

.gsc-input-box {
    table {
        margin: 0 !important;
    }
}

.gs-web-image-box,
.gs-promotion-image-box {
    padding: 2px 5em 2px 0 !important;
}

// accordion expand btn
.su-expand-container {
    display: flex;
    justify-content: end;
}

.su-expand-btn {
    background: none;
    color: $khpi-red-900;
    margin-bottom: 0.5em;
    padding: 0;

    &:hover,
    &:focus {
        background: none;
        color: $khpi-red-900;
    }

    &:hover {
        text-decoration: underline;
    }

    &:focus {
        box-shadow: none;
        outline-color: $khpi-red-900;
        outline-offset: 4px;
    }
    & > i::after {
        content: '\00a0';
    }
}

// style changes for light theme
body {
    &.theme-light,
    &.theme-light-alternative {
        #masthead {
            background-color: $khpi-black-50;
        }

        .site-title > a {
            color: $khpi-black-900;
        }

        .site-description {
            // same as $khpi-black-900 but with opacity
            color: rgba(42, 42, 42, 0.64);
        }

        #quick-contact {
            a,
            span {
                color: $khpi-black-900;
            }

            li::before {
                color: $khpi-black-900;
            }
        }

        @media only screen and (min-width: 1000px) {
            #main-nav {
                // box-shadow: inset 0px 0px 0px 1px $khpi-black-200;
                background-color: $khpi-black-200;
            }
        }

        #footer-widgets {
            background-color: $khpi-black-200;
            // same as $khpi-black-900 but with opacity
            color: rgba(42, 42, 42, 0.75);

            .widget-title {
                color: $khpi-black-900;
            }

            @media only screen and (max-width: 479px) {
                .footer-widget-area:first-child {
                    border-top: none;
                }
                .footer-widget-area {
                    border-top: 1px solid $khpi-black-500;
                }
            }

            p {
                // same as $khpi-black-900 but with opacity
                color: rgba(42, 42, 42, 0.75);
            }

            a {
                color: $khpi-red-900;
            }

            a:visited {
                color: $khpi-red-900;
            }

            a:hover,
            a:focus,
            a:active {
                color: $khpi-red-500;
            }

            ul li::before {
                color: $khpi-red-900;
            }
        }

        .widget .wp-block-tag-cloud a {
            border: 1px solid $khpi-black-500;
        }

        .widget .wp-block-tag-cloud a:hover,
        #footer-widgets .widget .wp-block-tag-cloud a:hover {
            border: 1px solid $khpi-red-900;
            color: $khpi-red-900;
        }

        #colophon {
            background-color: $khpi-black-300;
            color: rgba(42, 42, 42, 0.64);

            & a {
                color: rgba(42, 42, 42, 0.64);
            }

            & a:hover {
                color: rgba(42, 42, 42, 1);
            }
        }
    }
    &.theme-light-alternative {
        .top-news-title {
            color: $khpi-black-50;
            background-color: $khpi-red-900;
            &::after {
                border-color: $khpi-red-900;
            }
        }

        .slider-buttons .button-primary {
            background: $khpi-red-900;
            border-color: $khpi-red-900;
            color: $khpi-black-50; // Replacing colors to improve contrast
        }

        .slider-buttons a:hover {
            opacity: 1;
            background: $khpi-yellow-500;
            color: $khpi-black-900; // Replacing colors to improve contrast
        }

        #main-slider .cycle-prev,
        #main-slider .cycle-next {
            background-color: $khpi-red-900;
            color: $khpi-black-50; // Replacing colors to improve contrast
        }

        #main-slider .cycle-prev:hover,
        #main-slider .cycle-next:hover {
            background-color: $khpi-yellow-500;
            color: $khpi-black-900; // Replacing colors to improve contrast
        }

        //extra links to news and events #more-events
        #more-news,
        #more-events {
            a {
                color: $khpi-blue-600;
            }
        }

        .home-section-news-and-events .block-meta > span a {
            color: $khpi-blue-600;
        }

        .home-section-latest-news .latest-news-meta > span a {
            color: $khpi-blue-600;
        }

        .entry-footer > span a {
            color: $khpi-blue-600 !important;
        }

        #breadcrumb {
            background-color: $khpi-red-900;
        }

        #breadcrumb a,
        #breadcrumb .breadcrumb-trail li::after {
            color: $khpi-black-50;
        }

        #breadcrumb a:hover {
            color: $khpi-yellow-200;
        }

        #breadcrumb .breadcrumb-trail li:hover::after {
            color: $khpi-black-50;
        }
    }
}
